In [1]:
# Control Statement
# for loop
# while loop

In [2]:
# for loop
# for i in sequence:
#     statement
# for(int i=0;i<n;i++)
a="string"
for i in a:
    print(i,end=" ")

s t r i n g

In [3]:
# nested for 
# a="string"
# b="python"
# for i in a:
#     for j in b:
#         print(a,b)
# range()-->
# it returns a sequence of no. by default zero and increment by +1
for i in range(1,15,5):
#     1, 2 3 4
    print(i)

1
6
11

In [4]:
# *     
# * *
# * * *
# * * * *
num=int(input())
for i in range(1,num):
    for j in range(0,i):
        print("*",end=" ")
    print('\n')

6
*

* *

* * *

* * * *

* * * * *

In [5]:
# Write a Program to check if the given no. is prime no. or not
# 2 3 7 5 11
num=int(input()) #6
a=0 #a=1
if num>1:
    for i in range(2,num): #2,7---> 2, 3 , 4 , 5 , 6 #2,4--> 2, 3
          if (num%i==0): #6%2==0
#             a=1
            break
if a==1:
    print("not a prime")
else:
    print("prime")

6
prime

In [6]:
# while loop
# a=0 initialization
# while(a>1) condition
#     statement
#       a=a+1 increment

In [7]:
user_input=int(input()) #5 4 3  2 1 0
sum_p=0 #5 9 12 14 15
while(user_input>0): # 5>0
    sum_p=sum_p+user_input # 0+5 sum=5 9 12 14 15
    user_input=user_input-1 # 5-=4-1=3-1=2-1=1-1=0
print(sum_p)

5
15

In [8]:
# Pattern Program
user_input=int(input())
i=1
while(i<=user_input):
    j=1
    while(j<i):
        print("*", end=" ")
        j=j+1
    print('\n')
    i=i+1

5


*

* *

* * *

* * * *

In [9]:
# diff in for and while 
# when you dont know the no. of iteration--->while loop
#  when we know the no. of iteration--->for loop

In [10]:
# Example 
for i in range(0,5):
    print(i)

0
1
2
3
4

In [11]:
while True:
    name=input("Enter Your name")
    if name=='quit':
        break
    else:
        continue

Enter Your namerishabh
Enter Your namequit

In [12]:
# list 
# A Python List can be easily identified by square brackets [ ]
# List items are ordered, changeable, and allow duplicate values
# changeable--> The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
#ordered-->When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

listt=[1,4,8.9,7,"string"]

In [13]:
listt

[1, 4, 8.9, 7, 'string']

In [14]:
# Updating value with index no.
listt[4]="rishabh"

In [15]:
listt

[1, 4, 8.9, 7, 'rishabh']

In [16]:
# Accessing the value
listt[2]

8.9

In [17]:
for i in listt:
    print(i)

1
4
8.9
7
rishabh

In [18]:
# Adding values
listt.append("class1")
listt

[1, 4, 8.9, 7, 'rishabh', 'class1']

In [19]:
listt.insert(2,"tru")
listt

[1, 4, 'tru', 8.9, 7, 'rishabh', 'class1']

In [20]:
listt.extend(["value"])
listt

[1, 4, 'tru', 8.9, 7, 'rishabh', 'class1', 'value']

In [21]:
# Removing Values
# pop()--> if we dont provide index no. it will remove last element
listt.pop()

'value'

In [22]:
listt.pop(2)

'tru'

In [23]:
listt

[1, 4, 8.9, 7, 'rishabh', 'class1']

In [24]:
listt.remove(4)
listt

[1, 8.9, 7, 'rishabh', 'class1']

In [25]:
# del listt
# del deletes the whole list

In [26]:
listt.clear()

In [27]:
listt

[]

In [28]:
# Tuple
# Tuples are written with round brackets.
# It is ordered and unchangeable

In [29]:
a=('1','2','4')
print(a)

('1', '2', '4')

In [30]:
# how access value from tuple
a[0]

'1'

In [31]:
a[0:2]

('1', '2')

In [32]:
a[-2:-1]

('2',)

In [33]:
# As we know tuple is unchangebale we cannot change its values after it is created but 
# we can change tuple to list and apply all updation function on it
# tuple->list->update/delete->updatedlist->tuple using tuple()->updatedtuple

In [34]:
b=list(a)
b.insert(1,"abc")
y=tuple(b)
y

('1', 'abc', '2', '4')

In [35]:
del a

In [36]:
a
# in above cell our tuple has been deleted thats why we are getting error here

NameError: name 'a' is not defined

In [37]:
# Dictionary
# In dic values are stored in key value pair
# dic is ordered and changeable
# Syntax-variable={"key":"value"}

In [38]:
val={'a':"4","b":5}

In [39]:
val

{'a': '4', 'b': 5}