In [1]:
# PYTHON 
# sYNTAX
#VARIABLES
#OPERATORS
#CONDITIONAL STATEMENTS AND LOOP
#LIST TUPLE AND SET

In [2]:
#jupyter shortcut
#Press H by clicking outside cell to check all shortcuts
#ctrl+enter ---> run the current cell without adding another cell
#shift+enter ----> run the current cell and add another cell
# enter tab for suggestion
#ctrl + / for comments

In [3]:
print("Python mast language hai")
# Hello world

Python mast language hai

In [4]:
print("this is python class")

this is python class

## Markdown
#### press esc + 1 or esc + 2 till esc + 6

### Variables
##### Variables acts as a containers for storing data values
##### A variable is created when we assign a value into it
##### Unlike other programming language we don't have to write declare its data type!

In [5]:
a=23
a=a
c="python"

In [6]:
#using type function one can know its data type
type(a)

int

In [7]:
type(c)

str

In [8]:
#Rules for writing variables
#Start with letter or underscore
#shouldn't start with a number 
# Contains only A-Za-z0-9 and _ apart from these no other charcter is used
# Shouldn't be any reserved keyword
# _tr,tr1,Art,ra_t--->right
#2ere,ret-run, er ror--->wrong form

In [9]:
# One liner to assign values
x,y,z='a','b','c'
print(x)
print(y)
print(z)

a
b
c

In [10]:
x,y,z

('a', 'b', 'c')

In [11]:
# One liner to assign same values to all values
x=y=z='a'

In [12]:
x,y,z

('a', 'a', 'a')

### Data types

### String
##### Like any other programming language, string in python are arrays of bytes representing unicode character
##### We can assign a string to a variable using single quote or double quote
##### To access characters we do slicing with the help of [ ] square bracket 
##### stringVariable[start index:end index: steps(By default 1)]

In [13]:
a="stringss"

In [14]:
type(a)

str

In [15]:
print(a[0])

s

In [16]:
print(a[0:3])
# Here start index is 0 and end index is 3(not included)
#s-0,t-1,r-2,i-3,n-4,g-5

str

In [17]:
print(a[2:])

ringss

In [18]:
print(a[2:5])

rin

In [19]:
print(a[-4:-1])

ngs

In [20]:
print(a[0::2])

srns

In [21]:
a="Python is good"

In [22]:
#lower() -covert into lower case

In [23]:
a.lower()

'python is good'

In [24]:
#upper()- convert our string into uppercase

In [25]:
a.upper()

'PYTHON IS GOOD'

In [26]:
b="   python is not to easy"

In [27]:
b.strip()
# Remove beginning spaces

'python is not to easy'

In [28]:
c="too good good"

In [29]:
ret=c.replace('good','worst')
# replace fuction replaces a specified value with another given value

In [30]:
print(ret)

too worst worst

In [31]:
ret

'too worst worst'

In [32]:
a="python \"error\" good"
# To insert characters that are illegal in a string, use an escape character.
# An escape character is a backslash \ followed by the character you want to insert.

In [33]:
a

'python "error" good'

In [34]:
a1="python"
a2="too good"

In [35]:
print(a1+" "+a2)
print(a1,a2)
# Joining two string with the help of +
# We can join by printing print(a1,a2)

python too good
python too good

### Casting
##### We can do casting when we have convert a variable value from one type to another. It can be done with functions such as int() or float() or str()
###### a=1 (type integer)
###### we can cast "a" into string simply by writing str(a) now the type of a is string

In [36]:
a2="python"
b2=str(2.7)
print(a2+b2)
# In python you can't concatenate string with integer for this you need to change integer to string.

python2.7

In [37]:
a='python was invented in'
b=1991
print(type(str(b)))
# if we simply print a,b then it will show error so we cast "b" into string
print(a,str(b))

<class 'str'>
python was invented in 1991

### Formatting String

In [38]:
txt=a.format(b)

In [39]:
print("python was invented in {} and current year is {}".format(1991,2021))

python was invented in 1991 and current year is 2021

In [40]:
b="everyone is in python class at {}"
c=9
print(b.format(c))

everyone is in python class at 9

### Operators
##### eg a+b=c Here the whole eqn known as expression a and b is known as operands and + is operator

In [41]:
#Arithematic operator--> Performs arithematic calculation like + - * / ** % //
#Assignment operator-->  Assignment operators are used to assign values to variables like =,+=,-=,
# Logical operator ---> and or not
#Comparison operator---> Used for comparison > < >= <= !=

###### Don't get confuse between == and =
##### "==" is comparison operator and "=" is assignment operator

In [42]:
a=2
b=3
c=a+b
c

5

In [43]:
a=2
b=3
print(2**3)

8

In [44]:
7/2

3.5

In [45]:
7//2

3

In [46]:
6%2

0

In [47]:
#Assignment operator
#a+=b a=a+b
#a*=b a=a*b
a=2
# Assigning a value to variable "a" with the help of assignment operator "="
# a+= #5
# b=a+3 #5+3
a*=3

In [48]:
#Comparison operator

In [49]:
# == > < >= <= !=

In [50]:
# a="eefrf"
# print(bool(a))
a=''
print(bool(a))

False

In [51]:
a=6
b=7
a==b

False

In [52]:
a>b

False

In [53]:
a!=b

True

In [54]:
a<=b

True

In [55]:
#Logical Operator
#and or not
x = 3
print(bool(x)) #true
y = 2
print(bool(y)) #true
print ("x and y is" , bool(x) and bool(y))
print("x or y is" , x or y)
print(" not is x", not x)

True
True
x and y is True
x or y is 3
 not is x False

## Indentation
#### it refers to the spaces at the beginning of code line
#### It is used to indicate a block of code

# Conditional Statement

In [56]:
# if statement
# if condition:
#     output

a=8
b=7
if a>b:
    print("very good")
# The spaces before print statement is indentation

very good

In [57]:
# if else statement
# if condition:
#     output
# else:
#     output
a=7
b=8
if b>a:
    print(a+b)
else:
    print(a-b)

15

In [58]:
# if elif else statement
# if condition:
#     output
# elif condition:
#     output
#     .
#     .
#     .
# else 
#     output

In [59]:
a=3
b=6
if a==b:
    print(a*b)
elif a>b:
    print(a+b)
else:
    print(a-b)

-3

In [60]:
# Break