In [1]:
# list mutuable , takes more memory(performance dec), slow accessing,[],ordered, duplicates are allowed
# tuple immutable, take less memory(performance fast), we can access values in tuples fast,(), duplicates are allowed
# dictoanry mutuable ordered and doesn't allow duplicates

In [2]:
# (10)+[3] TypeError: unsupported operand type(s) for +: 'int' and 'list'
# a=(10) #type int
# a=(10,)#type tuple
# type(a)

In [3]:
# Dictionary ordered mutuable and doesmt duplicates
a={'a':12,'b':14}

In [4]:
a

{'a': 12, 'b': 14}

In [5]:
a={'a':12,'b':14,'a':12}

In [6]:
a

{'a': 12, 'b': 14}

In [7]:
# Accessing values
a['a']

12

In [8]:
a.get('a')

12

In [9]:
a.get('b')

14

In [10]:
a.keys()

dict_keys(['a', 'b'])

In [11]:
a.values()

dict_values([12, 14])

In [12]:
# update
a['a']=24

In [13]:
a

{'a': 24, 'b': 14}

In [14]:
a.update({'a':16})

In [15]:
a

{'a': 16, 'b': 14}

In [16]:
# remove elements
a.pop('a')

16

In [17]:
a

{'b': 14}

In [18]:
a.update({'a':14})

In [19]:
a

{'b': 14, 'a': 14}

In [20]:
a.popitem()
# If no argument given remove last value

('a', 14)

In [21]:
a

{'b': 14}

In [22]:
a.update({'a':14})

In [23]:
a

{'b': 14, 'a': 14}

In [24]:
del a['b']

In [25]:
a

{'a': 14}

In [26]:
a

{'a': 14}

In [27]:
a.clear()

In [28]:
a

{}

In [29]:
a={'a':12,'b':14,'a':12}

In [30]:
for i in a:
    print(i)

a
b

In [31]:
for i in a:
    print(a[i])

12
14

In [32]:
for i in a:
    print(i,a[i])

a 12
b 14

In [33]:
for i,j in a.items():
    print(i,j)

a 12
b 14

### Function

In [34]:
#  a=12
# b=134
# c=a+b
# The Function helps to break the program into the smaller part. 
# It organizes the code very effectively and avoids the repetition of the code.
# Syntax
# def functioname(parameter):
#     block of code
def hellow_sir(name):
    print("hello function", name)

In [35]:
hellow_sir("Python")

hello function Python

In [36]:
hellow_sir("rishabh")

hello function rishabh

In [37]:
#print vs return
# Python functions always return something, but if no return is declared, the function will return None
def add_a(a,b):
    print(a+b)
#     return None

In [38]:
add_a(1,2)

3

In [39]:
var=add_a(1,2)

3

In [40]:
print(var)

None

In [41]:
def add_ret(a,b):
    return a+b

In [42]:
add_ret(1,2)

3

In [43]:
var2=add_ret(1,2)

In [44]:
print(var2)

3

In [45]:
def even_odd(n):
    if n%2==0:
        return 0
    else:
        return 1

In [46]:
var=even_odd(4)

In [47]:
type(var)
# return type of function even_odd is integer

int

In [48]:
#  lambda function
# syntax lambda argument:expression
lam=(lambda x:x*2)
lam(2)

4

In [49]:
# Anonymous function inside normal function
def lamd(x):
    return lambda n:x*n

In [50]:
abc=lamd(2)

In [51]:
abc

In [52]:
abc(3)

6

In [53]:
o=lambda a,b,c:a*b*c
o(1,2,3)

6

In [54]:
# Map
# The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns an iterator

In [55]:
map_list=[1,2,3,4]
def map_(n):
        return n*2

In [56]:
# # using map fuction
listttt=[1,2,3,4]

variable=map(map_,map_list)

In [57]:
print(list(variable))

[2, 4, 6, 8]

In [58]:
# filter
# The filter() method filters the given sequence with the help of a function
# that tests each element in the sequence to be true or not.

In [59]:
def even_odd(n):
    return n%2==0

In [60]:
li=[1,2,3,4,5]
am=filter(even_odd,li)

In [61]:
list(am)

[2, 4]

In [62]:
am2=map(even_odd,li)

In [63]:
list(am2)

[False, True, False, True, False]

In [64]:
# reduce
# In this a function and iterable is taken as arguments and it returns a single digit value.
# it is present inside functools

In [65]:
listt=[1,2,3,4]
sum_=0
def addall(n):
    sum_=0
    for i in n:
        sum_=sum_+i
    return sum_
addall(listt)

10

In [66]:
# using reduce function
from functools import reduce
listt=[1,2,3,4]
ans_reduce=reduce(lambda x,y:x+y,listt)
ans_reduce

10

In [67]:
# filter inside map
map_filter=map(lambda x:x*2, filter(lambda x:x>=3,[2,3,4])) #--> map(lamda x : x*2,[3,4])

In [68]:
list(map_filter)

[6, 8]

In [69]:
filter_map=filter(lambda x:x>=3,map(lambda x:x*2,[1,2,3,4])) #--> filter(lamda x:x>=3,[2,4,6,8])

In [70]:
list(filter_map)

[4, 6, 8]

In [71]:
# List Comprehension
# It consist of brackets and inside we have expression which gets executes for each elemnt using for loop
# Syntax --> new_list=[expression for i in old_list]
listt=[1,2,3,4]
emp=[]
for i in listt:
    emp.append(i*2)

In [72]:
emp

[2, 4, 6, 8]

In [73]:
# new_list=[expression for i in old_list]
# shorter syntax
new_list=[i*2 for i in listt]

In [74]:
new_list

[2, 4, 6, 8]

In [75]:
# we can apply condition inside list comprehension
new_list2=[i for i in listt if i%2!=0]

In [76]:
new_list2

[1, 3]

In [77]:
# we can use lambda function too
new_lambda=lambda x:[x**2 for x in range(5)]
new_lambda(5)

[0, 1, 4, 9, 16]

In [78]:
# iterator, iterable, iteration
# iterator--> It is an object that has __iter__ method (iter) which return iterator or in simple anything
# that can be looped (string, list, tuple,set)
# iterable--> it is a object with __next__ method (next)

listt=[1,2,3,4]
lis2=iter(listt)
# In this all values dont get initialized once, it initialises one by one.

In [79]:
next(lis2)

1

In [80]:
for i in lis2:
    print(i)
# we get values from 2 because 1 is already called by next method. 
# whenever we use for loop next method automatically call to get each element from the iterator
# this process is known as iteration
# In iteration it takes only one element at a time

2
3
4

In [81]:
# Break